<h1>Enter your question</h1>

<form action="/answer" method="get">
  <input type="text" name="question" placeholder="What do you want to say to the coach">
  <input type="submit" value = "ASK!">
</form>
